ID_1 ID_2 missing
0 0 0
Family1 Child 0
Family1 Mother 0
Family1 Father 0
Family2 Child 0
Family2 Father 0
Family3 Child 0
Family3 Father 0
Family4 Child 0
Family4 Mother 0
Family4 Father 0
Family5 Child 0
Family5 Mother 0
Family5 Father 0
Family6 Child 0
Family6 Mother 0
Family6 Father 0
Family7 Child 0
Family7 Father 0
Family8 Mother 0
Family9 Child 0
Family9 Mother 0
Family9 Father 0
Family10 Child 0
Family10 Mother 0
Family10 Father 0
Family11 Child 0
Family11 Mother 0
Family11 Father 0
Family12 Child 0
Family12 Mother 0
Family12 Father 0
Family13 Child 0
Family14 Child 0
Family14 Mother 0
Family14 Father 0
Family15 Father 0
Family16 Child 0
Family17 Child 0
Family17 Mother 0
Family17 Father 0
Family18 Child 0
Family18 Mother 0
Family18 Father 0
Family19 Child 0
Family19 Father 0
Family20 Child 0
Family20 Father 0
Family21 Child 0
Family21 Mother 0
Family21 Father 0
Family22 Child 0
Family22 Mother 0
Family22 Father 0
Family23 Father 0
Family23 Mother 0
Family24 Child 0
Family24 Father 0
Family25 Child 0
Family25 Mother 0
Family25 Father 0
Family26 Child 0
Family26 Father 0
Family27 Child 0
Family28 Mother 0
Family29 Child 0
Family29 Mother 0
Family29 Father 0
Family30 Child 0
Family30 Mother 0
Family30 Father 0
Family31 Mother 0
Family32 Child 0
Family33 Mother 0
Family34 Child 0
Family34 Mother 0
Family34 Father 0
Family35 Child 0
Family35 Mother 0
Family36 Father 0
Family36 Mother 0
Family37 Child 0
Family37 Mother 0
Family38 Mother 0
Family39 Child 0
Family39 Mother 0
Family40 Mother 0
Family41 Child 0
Family42 Child 0
Family43 Child 0
Family43 Mother 0
Family43 Father 0
Family44 Child 0
Family44 Mother 0
Family44 Father 0
Family45 Father 0
Family45 Mother 0
Family46 Child 0
Family46 Father 0
Family47 Child 0
Family48 Child 0
Family48 Father 0
Family49 Child 0
Family49 Mother 0
Family49 Father 0
Family50 Mother 0
Family51 Child 0
Family51 Mother 0
Family52 Father 0
Family52 Mother 0
Family53 Child 0
Family53 Mother 0
Family53 Father 0
Family54 Child 0
Family55 Child 0
Family55 Mother 0
Family55 Father 0
Family56 Father 0
Family57 Child 0
Family57 Mother 0
Family58 Child 0
Family58 Mother 0
Family58 Father 0
Family59 Child 0
Family59 Mother 0
Family59 Father 0
Family60 Child 0
Family60 Mother 0
Family60 Father 0
Family61 Child 0
Family61 Mother 0
Family61 Father 0
Family62 Child 0
Family62 Mother 0
Family62 Father 0
Family63 Child 0
Family63 Father 0
Family64 Child 0
Family64 Mother 0
Family65 Father 0
Family65 Mother 0
Family66 Child 0
Family66 Mother 0
Family66 Father 0
Family67 Child 0
Family67 Mother 0
Family67 Father 0
Family68 Child 0
Family68 Father 0
Family69 Child 0
Family69 Mother 0
Family69 Father 0
Family70 Child 0
Family70 Mother 0
Family71 Child 0
Family71 Father 0
Family72 Child 0
Family72 Mother 0
Family73 Child 0
Family73 Mother 0
Family73 Father 0
Family74 Child 0
Family74 Mother 0
Family75 Child 0
Family75 Mother 0
Family75 Father 0
Family76 Child 0
Family76 Father 0
Family77 Child 0
Family78 Father 0
Family79 Child 0
Family79 Mother 0
Family79 Father 0
Family80 Father 0
Family80 Mother 0
Family81 Child 0
Family82 Father 0
Family83 Child 0
Family84 Father 0
Family84 Mother 0
Family85 Father 0
Family85 Mother 0
Family86 Father 0
Family86 Mother 0
Family87 Mother 0
Family88 Child 0
Family88 Mother 0
Family88 Father 0
Family89 Child 0
Family89 Mother 0
Family89 Father 0
Family90 Child 0
Family90 Father 0
Family91 Child 0
Family91 Mother 0
Family91 Father 0
Family92 Father 0
Family92 Mother 0
Family93 Child 0
Family93 Mother 0
Family94 Mother 0
Family95 Child 0
Family95 Mother 0
Family95 Father 0
Family96 Mother 0
Family97 Child 0
Family97 Mother 0
Family97 Father 0
Family98 Child 0
Family98 Mother 0
Family98 Father 0
Family99 Child 0
Family99 Mother 0
Family99 Father 0
Family100 Child 0
Family100 Mother 0
Family100 Father 0
Family101 Child 0
Family101 Father 0
Family102 Child 0
Family102 Mother 0
Family102 Father 0
Family103 Child 0
Family103 Mother 0
Family103 Father 0
Family104 Child 0
Family104 Mother 0
Family105 Child 0
Family105 Mother 0
Family106 Child 0
Family107 Father 0
Family108 Mother 0
Family109 Child 0
Family109 Father 0
Family110 Child 0
Family110 Mother 0
Family110 Father 0
Family111 Child 0
Family112 Child 0
Family113 Father 0
Family114 Father 0
Family114 Mother 0
Family115 Child 0
Family115 Father 0
Family116 Father 0
Family117 Child 0
Family117 Mother 0
Family117 Father 0
Family118 Father 0
Family119 Child 0
Family119 Mother 0
Family119 Father 0
Family120 Mother 0
Family121 Child 0
Family121 Mother 0
Family121 Father 0
Family122 Child 0
Family123 Child 0
Family123 Mother 0
Family123 Father 0
Family124 Child 0
