ID_1 ID_2 missing
0 0 0
A1 Child 0
A1 Mother 0
A1 Father 0
A2 Child 0
A2 Father 0
A3 Child 0
A3 Father 0
A4 Child 0
A4 Mother 0
A4 Father 0
A5 Child 0
A5 Mother 0
A5 Father 0
A6 Child 0
A6 Mother 0
A6 Father 0
A7 Child 0
A7 Father 0
A8 Mother 0
A9 Child 0
A9 Mother 0
A9 Father 0
A10 Child 0
A10 Mother 0
A10 Father 0
A11 Child 0
A11 Mother 0
A11 Father 0
A12 Child 0
A12 Mother 0
A12 Father 0
A13 Child 0
A14 Child 0
A14 Mother 0
A14 Father 0
A15 Father 0
A16 Child 0
A17 Child 0
A17 Mother 0
A17 Father 0
A18 Child 0
A18 Mother 0
A18 Father 0
A19 Child 0
A19 Father 0
A20 Child 0
A20 Father 0
A21 Child 0
A21 Mother 0
A21 Father 0
A22 Child 0
A22 Mother 0
A22 Father 0
A23 Father 0
A23 Mother 0
A24 Child 0
A24 Father 0
A25 Child 0
A25 Mother 0
A25 Father 0
A26 Child 0
A26 Father 0
A27 Child 0
A28 Mother 0
A29 Child 0
A29 Mother 0
A29 Father 0
A30 Child 0
A30 Mother 0
A30 Father 0
A31 Mother 0
A32 Child 0
A33 Mother 0
A34 Child 0
A34 Mother 0
A34 Father 0
A35 Child 0
A35 Mother 0
A36 Father 0
A36 Mother 0
A37 Child 0
A37 Mother 0
A38 Mother 0
A39 Child 0
A39 Mother 0
A40 Mother 0
A41 Child 0
A42 Child 0
A43 Child 0
A43 Mother 0
A43 Father 0
A44 Child 0
A44 Mother 0
A44 Father 0
A45 Father 0
A45 Mother 0
A46 Child 0
A46 Father 0
A47 Child 0
A48 Child 0
A48 Father 0
A49 Child 0
A49 Mother 0
A49 Father 0
A50 Mother 0
A51 Child 0
A51 Mother 0
A52 Father 0
A52 Mother 0
A53 Child 0
A53 Mother 0
A53 Father 0
A54 Child 0
A55 Child 0
A55 Mother 0
A55 Father 0
A56 Father 0
A57 Child 0
A57 Mother 0
A58 Child 0
A58 Mother 0
A58 Father 0
A59 Child 0
A59 Mother 0
A59 Father 0
A60 Child 0
A60 Mother 0
A60 Father 0
A61 Child 0
A61 Mother 0
A61 Father 0
A62 Child 0
A62 Mother 0
A62 Father 0
A63 Child 0
A63 Father 0
A64 Child 0
A64 Mother 0
A65 Father 0
A65 Mother 0
A66 Child 0
A66 Mother 0
A66 Father 0
A67 Child 0
A67 Mother 0
A67 Father 0
A68 Child 0
A68 Father 0
A69 Child 0
A69 Mother 0
A69 Father 0
A70 Child 0
A70 Mother 0
A71 Child 0
A71 Father 0
A72 Child 0
A72 Mother 0
A73 Child 0
A73 Mother 0
A73 Father 0
A74 Child 0
A74 Mother 0
A75 Child 0
A75 Mother 0
A75 Father 0
A76 Child 0
A76 Father 0
A77 Child 0
A78 Father 0
A79 Child 0
A79 Mother 0
A79 Father 0
A80 Father 0
A80 Mother 0
A81 Child 0
A82 Father 0
A83 Child 0
A84 Father 0
A84 Mother 0
A85 Father 0
A85 Mother 0
A86 Father 0
A86 Mother 0
A87 Mother 0
A88 Child 0
A88 Mother 0
A88 Father 0
A89 Child 0
A89 Mother 0
A89 Father 0
A90 Child 0
A90 Father 0
A91 Child 0
A91 Mother 0
A91 Father 0
A92 Father 0
A92 Mother 0
A93 Child 0
A93 Mother 0
A94 Mother 0
A95 Child 0
A95 Mother 0
A95 Father 0
A96 Mother 0
A97 Child 0
A97 Mother 0
A97 Father 0
A98 Child 0
A98 Mother 0
A98 Father 0
A99 Child 0
A99 Mother 0
A99 Father 0
A100 Child 0
A100 Mother 0
A100 Father 0
A101 Child 0
A101 Father 0
A102 Child 0
A102 Mother 0
A102 Father 0
A103 Child 0
A103 Mother 0
A103 Father 0
A104 Child 0
A104 Mother 0
A105 Child 0
A105 Mother 0
A106 Child 0
A107 Father 0
A108 Mother 0
A109 Child 0
A109 Father 0
A110 Child 0
A110 Mother 0
A110 Father 0
A111 Child 0
A112 Child 0
A113 Father 0
A114 Father 0
A114 Mother 0
A115 Child 0
A115 Father 0
A116 Father 0
A117 Child 0
A117 Mother 0
A117 Father 0
A118 Father 0
A119 Child 0
A119 Mother 0
A119 Father 0
A120 Mother 0
A121 Child 0
A121 Mother 0
A121 Father 0
A122 Child 0
A123 Child 0
A123 Mother 0
A123 Father 0
A124 Child 0
